.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: 50vw;
    padding: 5px;
    display: block;
    margin: 12px 0;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Concert One", cursive;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 136, 211);
    position: relative;
    z-index: 1;
    -webkit-box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.32);
    box-shadow: -1px 0px 6px 1px rgba(0, 0, 0, 0.32);
  }

  a:hover {
    background-color: rgba(56, 136, 211, 0.829);
  }

  &__patreon {
    &__icon {
      width: 20px;
      position: absolute;
      left: 15%;
    }
  }

  &__instagram {
    display: flex;
    align-items: center;
    &__icon {
      width: 20px;
      position: absolute;
      left: 14%;
    }
  }

  &__portfolio {
    &__icon {
      width: 20px;
      position: absolute;
      left: 14%;
    }
  }

  &__contact {
    &__icon {
      width: 20px;
      position: absolute;
      left: 14%;
    }
  }
}

@media only screen and (min-width: 1220px) {
  .links-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    a {
      width: 22vw;
      margin: 20px;
    }

    &__patreon {
      &__icon {
        width: 25px;
      }
    }

    &__instagram {
      &__icon {
        width: 25px;
      }
    }

    &__portfolio {
      &__icon {
        width: 25px;
      }
    }

    &__contact {
      &__icon {
        width: 25px;
      }
    }
  }
}
